* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.show-menu svg {
  width: 1.5rem;
  color: #f29727;
}

.book-title {
  color: #121212;
  font-size: 1.375rem;
}

.close-menu svg {
  width: 1.5rem;
  color: #fff;
}

.wrapper {
  padding: 1rem;
}

.invisible-btn {
  background: none;
  border: none;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  background-color: #fff;
  min-height: 4rem;
}

h1 {
  flex: 1;
}

h1 a {
  padding: 0;
  text-decoration: none;
  color: #0290ff;
}

.progress-icon {
  width: 4.25rem;
}

.current-chapter {
  font-size: 0.8125rem;
  color: gray;
}

.chapter-num {
  color: #121212;
  font-size: 1rem;
}

.show-menu {
  padding: 1rem;
  border: none;
  background: none;
}

.close-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  border: none;
  background: none;
}

.menu {
  display: none;
  flex-direction: column;
  background-color: #f24c3d;
  padding: 2rem;
  margin: 0;
  gap: 5rem;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  flex: 1;
  height: 100%;
}

.page-link {
  list-style-type: none;
}

.page-link a {
  text-decoration: none;
  color: #fff;
  font-size: xx-large;
}

.book-container {
  color: #22a699;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  padding: 2rem 1.5rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  align-items: stretch;
}

body {
  background-color: #fafafa;
}

.book-btns {
  display: flex;
  list-style-type: none;
  justify-content: stretch;
  margin-top: 1.125rem;
}

.progress-text {
  color: gray;
  font-size: 0.875rem;
}

.progress-percent {
  color: #121212;
  font-size: 2rem;
}

.book-btns li {
  border-right: solid 2px #e8e8e8;
  padding: 0 1rem;
}

.book-btns li:first-child {
  border-right: solid 2px #e8e8e8;
  padding-left: 0;
}

.book-btns li:last-child {
  border-right: none;
}

.interaction-btn {
  border: none;
  background-color: transparent;
  color: #4386bf;
  font-size: 0.875rem;
}

.interaction-btn:hover {
  font-weight: bolder;
  color: #f2be22;
}

.book-chapters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.update-btn,
.addbook-btn {
  padding: 0.5rem;
  background-color: #0290ff;
  border: solid 1px #fff;
  border-radius: 3px;
  color: #fff;
  width: 11.5rem;
}

.update-btn:hover,
.addbook-btn:hover {
  background-color: #fff;
  border: solid 1px #0290ff;
  color: #0290ff;
}

.bookslist-container {
  padding: 0 0 2.375rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book-progress {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.375rem;
  border-right: solid 1px #e8e8e8;
}

.book-progress div {
  display: flex;
  flex-direction: column;
}

.addbook-container {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #e8e8e8;
}

.addbook-form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 2.125rem;
}

.addbook-form * {
  padding: 0.8rem 1rem;
}

.addbook-title {
  flex: 3;
  border: solid 1px #e8e8e8;
  color: #22a699;
}

.addbook-author {
  flex: 1.5;
  border: solid 1px #e8e8e8;
  color: #22a699;
}

.addbook-title:focus,
.addbook-author:focus {
  outline: solid 1px #f24c3d;
}

.add-book-header {
  padding: 1rem 0;
  color: #888;
}

.msg {
  color: red;
}

.category-text {
  color: gray;
  font-weight: bold;
  font-size: 0.875rem;
}

.author-text {
  color: #4386bf;
  font-size: 0.875rem;
}

.profile-icon {
  display: none;
}

@media screen and (min-width: 800px) {
  .wrapper {
    padding: 0;
  }

  .bookslist-container {
    padding: 2.375rem 0;
  }

  .book-container {
    flex-direction: row;
    align-items: center;
  }

  .book-container > div {
    flex: 1;
  }

  .progress-text {
    font-size: large;
  }

  .addbook-form {
    flex-direction: row;
  }

  .book-progress {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .show-menu {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: start;
    position: static;
    flex-direction: row;
    background-color: transparent;
    flex: 5;
    gap: 2.5rem;
  }

  .page-link a {
    color: #121212;
    font-size: 0.8125rem;
  }

  .close-menu {
    display: none;
  }

  h1 {
    flex: 1;
  }

  nav {
    padding: 0 6.25rem;
  }

  .profile-icon {
    display: inline;
    width: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  .bookslist-container {
    padding: 2.375rem 6.25rem;
  }

  .addbook-container {
    padding: 0 6.25rem 6.25rem;
  }
}
